@font-face {
  font-family: 'GreatVibes';
  src: url(../../assets/fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: 'Marck';
  src: url(../../assets/fonts/MarckScript-Regular.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(../../assets/fonts/Caveat-VariableFont_wght.ttf);
}
body{
  background: rgb(205,136,175);
  background: linear-gradient(90deg, rgba(205,136,175,1) 10%, rgba(118,75,142,0.9173890014990371) 67%, rgba(255,255,255,1) 67%, ); 
}
.wrapper__quiz{
  width: 60%;
  margin: 0 auto;
  padding:1px;
  background-color: #764B8E;
}
@media screen and (max-width: 770px){
  .wrapper__quiz{
    width:90vw;
  }
}
header{
  margin: 2rem  0 0 0.5rem;
  font-family: 'GreatVibes';
  font-size: 6rem;
  font-weight: normal;
  
}
.header__quiz{
  display: flex;
  justify-content: space-between;
}
header>a{
  color: #000000;
}
@media screen and (max-width: 870px){
  .logo{
    font-size: 4rem;
  }
}
@media screen and (max-width: 560px){
  .logo{
    font-size: 3rem;
  }
}
@media screen and (max-width: 390px){
  #header__quiz>a{
    font-size: 4rem;
  }
}
.score-display{
  margin: 3rem 5rem 0 0 ;
  font-family: "Marck";
  font-size: 2rem;
}
.score-display>p{
  display: inline;
}
@media screen and (max-width: 390px){
  .score-display{
    font-size: 2rem;
  }
}
/* main block */
main{
  height: 70%;
}
section{
  background: rgb(170, 85, 133);
  border: 3px solid rgb(255, 255, 170);
  border-radius: 15px;
  padding: 5px;
}
.question-list{
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:1rem;
}
.question-list:first-child().active{
  background-color: rgb(205, 136, 175);
}
.question-type{
  font-family: "Caveat";
  font-size: 2.5rem;
  
  padding: 5px;
}
.question-type.active{
  background-color: rgb(205, 136, 175);
}
.question-section{
  margin: 0 auto;
  width: 100%;
  height: 19.5vw;
  border: 3px solid rgb(255, 255, 170);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
@media screen and (max-width: 770px){
  .question-section{
    height:30vw;
  }
}
#bird-button{
  margin:-3px;
  width: 30%;
  height:102.5%;
  border-radius: 15px;
  border: 5px solid rgb(255, 255, 170);
  /* overflow: hidden; */
}
#mute,
#mute-small {
  font-size: 2rem;
}
@media screen and (max-width: 770px){
  #bird-button {
    height: 30vw;
  }
}
.task {
  font-family: "Marck";
  font-size: 3rem;
}
.task.hidden {
  display: none;
}
#secret-bird{
  display: block;
  width: 100%;
}
@media screen and (max-width: 770px){
  #secret-bird{
    height:30;
  }
}
.audio-player__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  column-gap: 1rem;
  /* height: 100px; */
}
input[type='range']{
  appearance:none;
  border: 1px solid rgb(255, 255, 170);
  height: 10px;
  /* vertical-align: middle; */
  background-color: rgb(255, 255, 170);
  border-radius: 20px;
  outline:none;
}
input[type='range']{
  height: 10px;
  appearance: none;
  color: #764B8E;
}
input::-webkit-slider-thumb{
  appearance: none;
  width: 10px;
  height:10px;
  border: 1px solid rgb(118, 75, 142);
  border-radius: 10px;
  background: rgb(118, 75, 142);
}
.seekline{
  display: block;
  width: 20vw;
}
.volume-controls{
  display: flex;
  align-items: center;
}
#mute{
  padding-top: 8px;
}
#volume{
  width: 10vw;
}
@keyframes animate{
  0%{
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.controls-btn {
  position: relative;
  /* display:flex; */
  height: 50px;
  width: 50px;
  background-color: rgb(38, 3, 57);
  border-radius: 50%;
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
}
@media screen and (max-width: 780px){
  .controls-btn{
    height: 30px;
    width: 30px;
  }
}
.play {
  height: 0;
  width: 0;
  margin-left: 15px;
  border-left: 25px solid rgb(151, 117, 170);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
@media screen and (max-width: 780px){
  .play{
  margin-left: 9px;
  border-left: 13px solid rgb(151, 117, 170);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  }
}
.pause {
  height: 20px;
  width: 20px;
  border: none;
  margin-left: 15px;
  border-right: 5px solid rgb(151, 117, 170);
  border-left: 5px solid rgb(151, 117, 170);
  box-sizing: border-box;
}
@media screen and (max-width: 780px){
  .pause{
    height: 15px;
    width: 15px;
    margin-left: 7px;
    border-right: 5px solid rgb(151, 117, 170);
    border-left: 5px solid rgb(151, 117, 170);
    box-sizing: border-box;
  }
}
.mute-icon {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
@media screen and (max-width: 780px){
  .mute-icon{
    top: -10px;
  }
}
.mute-icon span {
  display: block;
  width: 8px;
  height: 8px;
  background: rgb(151, 117, 170);
  margin: 11px 0 0 2px;
}
/* @media screen and (max-width: 780px){
  .mute-icon span{
    width: 6px;
    height: 6px;
  }
} */
.mute-icon span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent rgb(151, 117, 170) transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}

.mute-icon span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-style: double;
  border-color: rgb(151, 117, 170);
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 10px;
  transition: all 0.2s ease-out;
}
/* @media screen and (max-width: 780px){
  .mute-icon span:before{
    width: 8px;
    height:8px;
  }
} */
.mute-icon:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.mute-icon.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}


#buttons-block{
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 8rem;
}
@media screen and (max-width: 1407px){
  #buttons-block{
    column-gap: 3rem;
  }
}
@media screen and (max-width: 560px){
  #buttons-block{
    gap: 0rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.answer-button{
  background-color: rgb(170, 170, 57);
  font-family: "Marck";
  font-size: 2.5rem;
  width: 260px;
  border: 1px solid rgb(85, 85, 0);
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgb(85, 85, 0);
  color: rgb(38, 3, 57);
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 560px){
  .answer-button{
    width:220px;
    font-size: 2rem;
    margin:1rem;
  }
}

.answer-button.active{
  transform: translateY(3px);
  background-color: rgb(212, 212, 106);
}
.answer-button:hover{
  background-color: rgb(212, 212, 106);
}
.round{
  width: 13px;
  height:13px;
  border-radius: 50%;
  border: 3px solid rgb(118, 75, 142);
  align-self: center;
  margin: 10px;
  background-color: rgb(151, 117, 170);
}
.round.right{
  background-color: rgb(165, 198, 99);
  border: 3px solid rgb(86, 119, 20)
}
.round.wrong{
  background-color: rgb(170, 85, 133);
  border: 3px solid rgb(102, 17, 65);
}
/* informational block */
.info-block{
  display: flex;
  flex-wrap: wrap;
 justify-content:center ;
}
.screensaver{
  width: 15vw;
}

.bird-names.hidden{
  display: none;
}
.main-name{
  font-family: "Marck";
  font-size: 5rem;
  text-decoration: underline overline #764B8E ;
}
.latin-name{
  font-family: "Marhey";
  font-size: 2.5rem;
}
.audio-player__container.hidden{
  display: none;
}
.seekline{
  width:10vw !important;
}
.volume{
  width:5vw !important;
}
.bird-info{
  font-family: "Caveat";
  font-size: 4rem;
}
.bird-info.hidden{
  display:none;
}
#next-level-btn{
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: "Marhey";
  padding: 10px 45px;
}
@media screen and (max-width: 740px){
  #next-level-btn{
    font-size: 1.5rem;
    margin: 2.5rem auto;
  }
}
.results-page{
  position: absolute;
  /* top:37%; */
  left: 20%;
  margin: 0 auto;
  width: 60%;
  height: 63vh;
  overflow: hidden;

  font-family: "Caveat";
  text-align: center;
  font-size: 3rem;
  
}
.results-page,
.win-message,
.win-score{
  display: inline;
}
body.active{
  overflow: hidden;
}