*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline:none;}
    a:focus, a:active{outline:none;}
    
    nav,footer,header,aside{display: block;}
    
    html, body{
    height: 100%;
    width:100%;
    font-size:100%;
    line-height:1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    input, button, textarea{font-family: inherit;}
    
    input:-ms-clear{display: none;}
    button {cursor: pointer;}
    button::-moz-focus-inner{padding:0;border:0;}
    a,a:visited{text-decoration:none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    
    /*................................*/
    
    @font-face {
        font-family: 'Roboto-700';
        src: url(../../assets/fonts/Roboto-Bold.ttf);
    }
    @font-face {
        font-family: 'Roboto-500';
        src: url(../../assets/fonts/Roboto-Regular.ttf);
    }
    @font-face {
        font-family: 'Roboto-400';
        src: url(../../assets/fonts/Roboto-Medium.ttf);
    }
    @font-face {
        font-family: 'Roboto-300';
        src: url(../../assets/fonts/Roboto-Light.ttf);
    }
    :root{
        --btn-color: linear-gradient(to right, #F9804B,#FE9013 ) ;
        --btn-hover: #E47209;
        --btn-active: #4B9200;
        --btn-disabled: #767474;
        --text: #fffffF ; 
    }
    body{
        
    }
@media screen and (min-width: 1160px){ 
        header{
        margin: 0 auto;
        color: var(--text);
        font-family: 'Roboto-300';
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1160px;
    }
}
    .logo{
        margin: 14px 0;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        font-size: 19px;
        line-height: 120%;
        text-align: center;
        position: relative;
        letter-spacing: 0.04em;
        padding: 2px;
    }
    object{
        position: absolute;
        top: 18px;
        left: 10px;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    nav>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 470px;
        margin-top: 30px;
        margin-right: 380px;
        font-family: 'Roboto-500';
        font-size: 16px;
        line-height: 22px;
        
    }
    #copyright{
        margin-top: 33px ;
        font-size: 16px;
        font-family: 'Roboto-500';
        position: relative;
    }
.header__wrapper{
    background-color: black;
}

.main__block{
    background-image: url(../../assets/images/Giant\ Panda.png);
    height:780px;
    background-size: 100%;
} 
.content__frame{
    margin: 0 auto;
    width: 1160px;
    display: flex;
    justify-content: end;
}   
.main__content-wrapper{
    position:relative;
    width: 572px;
}
.round{
    margin-top: 12.5px;;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 464px;
    height:464px;
    border-radius: 50%;
    align-self: flex-start;
}
.online{
    position: absolute;
    top: 85px;
    right:15px;
    font-family: 'Roboto-700';
    font-size: 7.5rem;
    width:472px;
    text-align: center;
    text-transform: uppercase;
    line-height: 75%;
    align-self: end;
    color: var(--text);
}
button{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
}
.btn-watch{
    width:298px;
    height:54px;
    text-transform: uppercase;
    margin: 70px 175px;
    border-radius: 25px;
    color: var(--text);
    font-family: 'Robotic-400';
    font-size: 15px;;
    
}
/*backstage*/
.backstage__wrapper{
    display: flex;
    flex-direction: row;
    position:relative;
}
.backstage__wrapper>img{
    position:absolute;
    right:0px;
    margin-top: 10px ;
    height: 615px;
   
}
.backstage{
    margin: 0 auto;
    height: 662px;
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 87px;
}
.backstage>img:first-child{
    
    width: 609px;
    height: 403px;
    margin-top: 20px;
}
article{
    margin-top: 40px;
    width: 620px;
    color:#333B41;
}
h2{
    font-family: 'Roboto-400';
    font-size: 48px;
    line-height: 120%;
    
}
article p{
    margin-top: 1.4rem;
    font-family: "Roboto-300";
    font-size: 1.1rem;
    line-height: 140%;
    color:#333B41;
    letter-spacing: 0.04rem;
}
h3{
    margin-top:4rem;
    font-family: "Roboto-400";
    font-size: 1.7rem;
    line-height: 120%;
}
.main__text{
    margin-top: 2.5rem;
    
}
/*pets*/
.pets__block{
    position: relative;
    
}
.pets-decor-1{
    position: absolute;
    bottom: -12px;
}
.pets-decor-2{
    position: absolute;
    right:0;
    bottom: -4px;

}
.pets_content{
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
}
.slider__block{
    width: 1322px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}
.slider__content{
    display: flex;
    flex-flow: row wrap;
    width: 1160px;
    gap: 2.5rem 2.2rem;
}
h4{
    text-transform: uppercase;
    font-family: "Roboto-400";
    padding: 0.8rem 0 0 1.1rem;
    letter-spacing: 0.08rem;
}
.slider-info{
    padding: 0.2rem 0 0 1rem;
    letter-spacing: 0.045rem;
    font-family: 'Roboto-300';
}
.slider__content img{
    width:  366px;
    height: 366px;
}
.slider__content>div{
    border: 1px solid var(--btn-color);
    border-radius: 5px;
}
.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;align-items: center;
}
.card-info svg{
    padding: 7px 10px 0 0 ;
    width: 55px;
    height:45px;
}
.btn-left, .btn-right{
    background-color: var(--btn-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: x-large;
    align-self: center;
    margin-top: 1rem;
}

.btn-choose{
    margin: 93px auto 100px;
    background-color: #FE9013;
    width: 298px;
    height: 54px;
    border-radius: 30px;
    font-family: "Roboto-700";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}
/*pick a friend*/
.pick-friend__block{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 5rem;
    padding-bottom: 7.25rem;
}
.pick-friend__content{
    height: 835px;
    width: 1160px;
    background: rgba(253, 253, 255, 0.52);
    border: 1px solid rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto auto;
}
.pick-friend__content article{
    width: 1000px;
}
h5{
    width: 900px;
    margin: 2.8rem 25rem;
    font-family: "Roboto-400";
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;    
}
.article-highlight{
    font-family: "Roboto-400";
    font-size: 24px;
    line-height: 120%;
    color:#333B41;
    margin: -8px 100px;
    width: 900px;
    letter-spacing: 0.0001rem;
}

.pick-friend__content article p:nth-child(3){
    width: 1000px;
    font-family: "Roboto-500";
    font-size: 1.15rem;
    margin: 3.3rem 7rem;
    letter-spacing: 0.00009em;
}
.pick-friend__content article p:nth-child(4){
    width:860px;
    margin: -2.7rem 7rem;
    font-size: 1.02rem;
    letter-spacing: 0.06rem;
}
h6{
    font-family: "Roboto-400";
    font-size: 2.7rem;
    line-height: 130%;
    color:#333B41;
    margin-top: 7.3rem;
    margin-left: 33.8rem;
    letter-spacing: 0.07;
}
.pick-friend__icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2.5rem 0 0 14rem;
    column-gap: 2.1rem;
}
.arrow{
    margin-top: -75px;
}
.pick-friend__content button{
    width: 298px;
    height: 54px;
    border-radius: 25px;
    margin: 4.2rem 32.3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
/*testimonials*/
.testimonials__block{
    position: relative;
    overflow: hidden;
}
.testimonials__content{
    width: 1169px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
}
h7{
    color: #333B41;
    font-family: "Roboto-400";
    font-size: 37px;
    line-height: 130%;
    margin-bottom: 3.45rem;;
}
.plates__block{
    width: 1160px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.plates__border{
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    width:290px;
    height: 391px;
    border-radius: 20px;
}
.plate__content{
    width:266px;
    height: 388px;
    margin: 1px 2px;
    background-color: #fffffF;
    border-radius: 20px;
    padding:1px;
}
.plate__heading{
    display: flex;
    flex-direction: row;
    margin: 0.7rem 1.4rem;
    column-gap: 0.5rem;
}
.info{
    text-align:left;
} 
.info span{
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.001rem;
    line-height: 120%;
}
.info>div>span{
    color:#BDBDBD;
    font-size: 15px;
}
.plate__content p{
    text-align: left;
    padding: 0 1rem 0 1.4rem;
    line-height: 125%;
    letter-spacing: 0.0006rem;
}
.scroll-bar__background{
    margin: 1rem auto;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    width: 603px;
    height: 8px;
    border-radius: 10px;
}
.scroll-bar{
    margin: 1px 2px;
    width: 599px;
    height: 6px;
    background-color: #F5F7F6;
    border-radius: 2px;
}
.indicator{
    width:115px;
    height:6px;
    background-color: #FE9013;
    border-radius: 2px;
}
.feedback{
    margin: 1.5rem 0.25rem  12.8rem;
    width: 298px;
    height:54px;
    background: var(--btn-color);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-family: "Roboto-500";
    font-size: 16px;
}
.testimonials__block>img{
    position: absolute;
    right:0;
    bottom: -9.5rem;
}


footer{
    background-color: #111115;
    color: white;
    padding-top: 3.001rem;
}
.footer__wrapper{
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 298px 82px 413px 367px ;
    grid-template-rows: 92px 110px 125px 76px;
}
.footer__logo{
    color: white;
    padding-bottom: 3px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    position: relative;
    letter-spacing: 0.04em;
    padding: 2px;
    font-family: "Roboto-300";
    width: 82px;
    height:52px;
}
.footer__logo object{
    position: absolute;
    top: 18px;
    left: 10px;
}
.footer__subscribe{
    grid-column-start: 4;
    font-family: "Roboto-300";
    font-size: 24px;
    line-height: 120%;
}
.input__background{
    background: var(--btn-color);
    width:230px;
    height: 44px;
    padding: 1px 1px;
    display: inline-block;
    border-radius: 2px;
    margin-top: 1rem;
}
.input__style{
    width:228px;
    height: 42px;
    color: #BDBDBD;
    font-size: 16px;
    line-height: 140%;
    display: inline-block;
    border-radius: 2px;
    padding-left: 1rem;
}
.btn-submit{
    width:129px;
    height: 42px;
    border: 1px solid #4B9200;
    border-radius: 5px;
    color:#4B9200;
}
.btn-donate{
    grid-column-start: 1;
    grid-row-start:2;
    height:54px;
    align-self: center;
    font-family: "Roboto-400";
    font-size: 16px;
    text-transform: uppercase;
}
.social-media{
    grid-row-start: 3;
    grid-column-start:1 ;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.social-media div{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    margin-top: 0.5rem;
    }
.media-words p{
    margin-top: 1.2rem;
}
.icon_background{
    width:26px;
    height:26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    
}
.icon_background svg{
    margin: auto;
}
.mini-navigation{
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    column-gap: 4.3rem;
    font-family: "Roboto-300";
    font-size: 16px;
    line-height: 22.4px;
    margin-left: 18px;
}
.copyright{
    grid-row-start: 3;
    grid-column-start: 4;
    align-self: center;
    justify-self: end;
    font-family: "Roboto-100";
    font-size: 16px;
    line-height: 32.8px;
    letter-spacing: 0.1px;
    padding-top: 8rem;
}